<template>
  <div id="app" class="container">
    <nav-bar></nav-bar>
    <router-view></router-view>

  </div>
</template>

<script>
  import Navbar from './components/Navbar.vue'


export default {
    components:{
        NavBar: Navbar
    },
    computed:{

    }
}
</script>

<style>

</style>
